*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-color: lightgray;
}

.header{
    min-height: 10vh;
    height: 10%;
    width: 100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 25px;
}

table, th, td {
    border: 0.5px solid black;
    padding: 2px;
}

.main table{
    font-size: 20px;
}

/* remove download option for audio files */
audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}
audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

audio {
    padding-left: 80px;
}

@media(max-width: 700px){
    nav h1{
        width: 150px;
    }

    body p{
        font-size: 20px;
    }

}