*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.header{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4, 9, 30, 0.774)),url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 66px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border: 1px solid #fff;
}
.hero-btn:hover{
    background: #fff;
    color: black;
    transition: 1s;
}
.hero-btn:active{
    transform: scale(3);
}

.alertBanner {
    background-color: #005e45;
    margin-bottom: 5px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: #005e45a1 5px solid;
    position: sticky;
}

.alertText {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

@media(max-width: 700px){
    nav img{
        width: 150px;
    }

    .text-box h1{
        font-size: 55px;
    }
    .text-box p{
        font-size: 17px;
    }

    .alertText{
        font-size: 12px;
    }

    
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
  
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
  
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
.form-container .cancel {
    background-color: red;
}
  
.form-container .btn:hover {
    opacity: 1;
}
.form-container p {
    color: #000;
}
