*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
}

.header{
    min-height: 35vh;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4, 9, 30, 0.774)),url('https://google.com/');
    background-position: center;
    background-size: cover;
    position: relative;
}

.video{
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4, 9, 30, 0.774))
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 66px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border: 1px solid #fff;
}
.hero-btn:hover{
    background: #fff;
    color: black;
    transition: 1s;
}
.hero-btn:active{
    transform: scale(3);
}

.alertBanner {
    background-color: #005e45;
    margin-bottom: 5px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: #005e45a1 5px solid;
    position: sticky;
}

.alertText {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.devices{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-size: large;
}

.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.col{
    flex-basis: 31%;
    background: #005e45;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}